* {
    box-sizing: border-box;
}

body {
    background-color: rgb(4, 4, 95);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

}

.container {
    width: 400px;
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
}

.header {
    background-color: #d8d1d1;
    padding: 10px 20px;
}

.form {
    padding: 20px 40px;
}

.form-control {
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;
    
}

.form-control label {
    display: inline-block;
    margin-bottom: 5px;
}

.form-control input {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid #d8d1d1;
}

button {
    background-color: rgb(4, 4, 95);
    color: #fff;
    border-radius: 2px;
    margin-top: 5px;
    padding: 5px;
    /* width: 100px; */
    font-size: 15px;
    cursor: pointer;
    /* border: 3px solid red; */
   margin-left: 50px;
   border-radius: 15px;
  
}

/* .botto {
  
    
    align-items: center;
} */